services:
  ot-mcp-server:
    container_name: ot-mcp-server
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - .env
    ports:
      - "${FASTMCP_SERVER_PORT:-8000}:${FASTMCP_SERVER_PORT:-8000}"
    restart: unless-stopped
    command: ["uv", "run", "python", "-m", "opentargets_mcp.server"]
